*{
    box-sizing: border-box;
    
}
body{
    margin:0px;
    padding:0px;
}
#main{
    width: 100vw;
    height: 100vh;
}
#main header{
    height: 10vh;
}
#main header ul{
    list-style-type:none;
    height: 5vh;
    float: right;
    margin-right: 20px;
}
#main header ul li{
    display: inline-block;
    padding-left: 13px;
    vertical-align: middle;
}
#main header ul li a{
    text-decoration: none;
    color: black;
}
#main header ul li a:hover{
    cursor:pointer;
    text-decoration: underline;
}
#main header ul li:nth-child(3) img{
    width: 20px;
    height: 20px;
}
#main header ul li:nth-child(4) img{
    width: 30px;
    height: 30px;
}
#main header ul li:nth-child(5) img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
#google_img{
    width: 450px;
    height: 200px;
    background: transparent url("google.png") no-repeat center;
    background-size: contain;
    margin:0px auto;
    margin-top: 100px;
}
#inputbox{
    display: block;
    width: 648px;
    margin:0px auto;
    border: 1px solid black;
}
#inputbox input{
    display:block;
    width: 100%;
    font-size: 20px;
    padding: 10px 8px;
    border: 1px solid #dddddd;
    /* border: 1px solid #dddddd; */
    /* box-shadow: 0 8px 6px -6px #e0dfdf; */
    background: transparent url("voice.png") no-repeat right;
    background-size: 20px 30px;
    padding-right: 20px;
    
}
#inputbox input:hover
{
  box-shadow: 0 0 5px 2px #e0dfdf;
}

#eightboxes{
    display:block;
    width: 100%;
    height: 275px;
    margin-top:100px;
}
#eightboxes>div{
    display: block;
    width: 650px;
    margin:0px auto;
    height: 275px;
}
#eightboxes>div>div:hover{
    box-shadow: 0 0 5px 2px #e0dfdf;
    cursor:pointer;
}
.box{
    width: 154px;
    height: 128px;
    border:1px solid black;
    margin:3px;
    background: transparent url("window.png") no-repeat center;
    background-size: 100% 100%;
}
.top{
    float:left;
}
.bottom{
    float:left;
}
@media screen and (max-width:674px) {
    

    #eightboxes>div>div:nth-child(4), #eightboxes>div>div:nth-child(8){
        display:none;
    }
    #inputbox{
        width: 512px;
    }
    #eightboxes>div{
        width: 512px;
    }
}
@media screen and (max-width:532px) {
    

    #eightboxes>div>div:nth-child(3), #eightboxes>div>div:nth-child(7){
        display:none;
    }
    #inputbox{
        width: 363px;
    }
    #eightboxes>div{
        width: 363px;
    }
}