*{
    box-sizing: border-box;
    
}
body{
    margin:0px;
    padding:0px;
}
#main{
    width: 100vw;
    height: 100vh;
}
#main header ul{
    list-style-type:none;
    height: 5vh;
    float: right;
    margin-right: 20px;
}
#main header ul li{
    display: inline-block;
    padding-left: 13px;
    vertical-align: middle;
}
#main header ul li a{
    text-decoration: none;
    color: black;
}
#main header ul li:nth-child(3) img{
    width: 20px;
    height: 20px;
}
#main header ul li:nth-child(4) img{
    width: 30px;
    height: 30px;
}
#main header ul li:nth-child(5) img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
#google_img{
    width: 500px;
    height: 200px;
    background: transparent url("google.png") no-repeat center;
    background-size: cover;
    margin: 0px auto;
}