#main{
    border: 1px solid black;
    width: 20vw;
    height: 25vh;
    position: relative;
    top: 15vh;
    left: 40vw;
    border-radius: 10px;
    background-color: 	#F5F5F5;
    box-shadow: 0px 0px 5px black;
}
#main:hover{
    box-shadow: 0px 0px 10px black;
}
input, button, #city-name, #temp, #latitude, #longitude, #img{
    display:block;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
#city-name, #temp, #longitude, #latitude{
    text-align: center;
}
input{
    margin-top: 20px;
}
input{
    width: 250px;
}
button{
    width: 270px;
    margin-top:15px;
}
span{
    display:block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin:20px auto;
    color: black;
    font-size: 40px;
}
#img{
    display: none;
    width: 50px;
    height: 50px;
    
    background-size: 100% 100%;
    box-shadow: 0px 0px 10px gray;
}
